/* Cores do Tema */
$corPrincipal: #0099c3;
$corPrincipalEscura: #072244;
$corPrincipalEscuraDark: #072244;
$corSecundaria: #00b5e9;
$corSecundariaEscura: #1791b7;
$corBranco: #ffffff;
$corText: #292929;
$corGrayPrincipal: #ececec;

/* Tamanho das Telas */
$xsWidth: 576px;
$smWidth: 576px;
$mdWidth: 768px;
$lgWidth: 992px;
$xlWidth: 1200px;

/* Textos */
$fontFamily: 'Montserrat';
$xsTextMenu: 20px;
